<?xml version="1.0"?>

<model>
  <name>circlegrid1m</name>
  <version>1.0</version>
  <sdf version='1.6'>measure_line.sdf</sdf>

  <author>
    <name>bla</name>
    <email>bla@bla.com</email>
  </author>

  <description>
	meausure line is a box on which you can change the dimensions and use it to check the distance or the lenght in gazebo
	I used it to check the square size of the circlegrid for a camera calibration
  </description>
</model>
