<?xml version="1.0"?>

<launch>
	<arg name="paused" 			default="true"></arg>
	<arg name="use_sim_time" 		default="true"></arg>
	<arg name="gazebo_gui" 		default="true"></arg>
	<arg name="gazebo_debug"		default="false"></arg>

	<arg name="imageViewer"				default="true"></arg>	<!--start image_viewer node	-->
	<arg name="imageTopic"					value = "/fanuc_1/fixed_camera_pcl/image_raw"></arg> <!--camera topic	-->
	<arg name="useVelocityTrajControllers"		default="true"></arg>	<!--if true load velocity controller, otherwise load effort controllers-->
	<arg name="useVelocityGroupController"		default="false" ></arg>	<!--if true load velocity controller, otherwise load effort controllers-->
																
	<!-- ROBOT CONTROLLERS PATH	-->
	<!-- choose the controller path -->
	<arg name="fanuc_arm_controller_path" value="$(find robot_gripper_model)/config/velTrajectory Controllers/arm_controller.yaml"  if = "$(arg useVelocityTrajControllers)"></arg>
	<arg name="fanuc_arm_controller_path" value="$(find robot_gripper_model)/config/velGroupControllers/arm_controller.yaml"  		if = "$(arg useVelocityGroupController)"></arg>
	<arg name="fanuc_arm_controller_path" value="$(find robot_gripper_model)/config/effortControllers/arm_controller.yaml" 			unless = "$(eval (useVelocityTrajControllers or useVelocityGroupController))"></arg>

	<arg name="joint_state_controller_path"   value="$(find robot_gripper_model)/config/joint_state_controller.yaml"></arg>
	<arg name="fanuc_gripper_controller_path" value="$(find robot_gripper_model)/config/gripper_controller.yaml"></arg>
	<arg name="gazebo_pid_path" 		    value="$(find robot_gripper_model)/config/gazebo_pid.yaml"></arg>

	<!-- URDF/XACRO PATH, ROBOT NAME AND SPAWN POSITION -->
	<arg name="xacro_path"	 value="$(find robot_gripper_model)/urdf/m16ib20_simulation.xacro"></arg>
	<arg name="robot1_name" value="fanuc_1"></arg>
	<arg name="robot_1_x"	 value="0"></arg>
	<arg name="robot_1_y"	 value="0"></arg>
	<arg name="robot_1_z"	 value="0.001"></arg>

	<!-- This argument loads Camera or Point Cloud, for example camera_active:=true then point cloud is not loaded-->
	<arg name="camera_active"	value="false"></arg>

	<arg name="worldName"		value="$(find gazebo_sim)/worlds/object.world"></arg>

	<!-- This argument loads the electric gripper, for example electric_gripper:=true -->
  	<arg name="electric_gripper" default="true"/>

	<!-- pose estimation using features or using verification-->
	<arg name="using_features" default="0"/>

	<!-- STARTUP SIMULATED WORLD -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg 	name="world_name" 	value="$(arg worldName)"></arg>
		<arg 	name="paused" 		value="$(arg paused)"></arg>
		<arg	name="use_sim_time" 	value="$(arg use_sim_time)"></arg>
		<arg 	name="gui" 		value="$(arg gazebo_gui)"></arg>
		<arg 	name="debug" 		value="$(arg gazebo_debug)"></arg>
	</include>
	
	<!--ROBOT 1, SPAWN URDF, CONTROLLERS AND MOVEGROUP UNDER NAMESPACE  -->
	<!-- SPAWN A ROBOT IN THE WORLD AND LAUNCH THE MOVEGROUP -->
	<include file="$(find robot_gripper_model)/launch/robotCameraGripper_model.launch">
		<arg name="xacro_path"	                    	value="$(arg xacro_path)"></arg>
		<arg name="fanuc_arm_controller_path"       	value="$(arg fanuc_arm_controller_path)"></arg>
		<arg name="joint_state_controller_path"     	value="$(arg joint_state_controller_path)"></arg>
		<arg name="fanuc_gripper_controller_path"   	value="$(arg fanuc_gripper_controller_path)"></arg>
		<arg name="gazebo_pid_path" 			value="$(arg gazebo_pid_path)"></arg>
		<arg name="robot_name"		       	value="$(arg robot1_name)"></arg>
		<arg name="imageViewer"			value="$(arg imageViewer)"></arg>					<!--start image_viewer node	 -->
		<arg name="useVelocityTrajControllers"	value="$(arg useVelocityTrajControllers)"></arg> 	<!--if true load velocity controller, otherwise load effort controllers -->
		<arg name="useVelocityGroupController"	value="$(arg useVelocityTrajControllers)"></arg>	<!--if true load velocity controller, otherwise load effort controllers-->
		<arg name="robot_1_x"				value="$(arg robot_1_x)"></arg>
		<arg name="robot_1_y"			    	value="$(arg robot_1_y)"></arg>
		<arg name="robot_1_z"			    	value="$(arg robot_1_z)"></arg>
		<arg name="camera_active"			value="$(arg camera_active)"></arg>
	</include>
	
	<!--start image viewer node-->
	<group if="$(arg imageViewer)">
		<node name="image_view" pkg="image_view" type="image_view" output="screen">
			<remap from="image" to="/$(arg imageTopic)"/>
		</node>
	</group> 

</launch>
